<div class="loader" al-show="showLoader[provider.name]"></div>
<div class="{{'file-div-wrapper' + ' ' + (file.isDir ? 'dir-wrapper': 'file-wrapper')}}" al-repeat="file in files[provider.name]">
    <div class="file-centered-wrapper" al-class="file-context:!file.isPrevLink" title="{{file.name}}"
         al-click="forward(file)" context-info-path="{{file.path}}" context-info-provider="{{provider.name}}"
         context-info-is-dir="{{file.isDir}}">
        <img class="img-file" al-src="{{file.preview}}"/>
        <div class="img-file-sign">{{file.name}}</div>
    </div>
</div>