.message-container {
  clear: both;
  display: inline-block;
  text-align: right;
  display: flex;
  flex-wrap: wrap;
}
.file-div-wrapper {
  display: table;
  height: 8em;
  width: 8em;
  margin: 5px 7px 5px 7px;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
}
.file-centered-wrapper {
  text-align: center;
  cursor: pointer;
}
.img-file-sign {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  width: 8em;
}
.file-panel {
  overflow-y: auto;
}
.img-file {
  max-height: 6em;
  max-width: 6em;
}
