@padding-home-menu: 10px;
@header-height-large: 46px + @padding-home-menu * 2;
@header-height-small: 37px + @padding-home-menu * 2;
@dialog-font-size: 8em;

[al-cloak] {
  display: none !important;
}

#copyDialogFileName {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  color: white;
  vertical-align: middle;
  width: @dialog-font-size / 1.5;
}

#action-btn-bar {
  width: 30%;
  display: inline-block;
  text-align: center;
}

.btn-dialog {
  width: 100%;
}

.dialog-btn-wrapper {
  text-align: center;
}

.menu-icon {
  margin-right: 5px;
  margin-left: -22px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
  line-height: 1.7em;
  color: #7f8c8d;
  font-size: 13px;
}

/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
  padding: @padding-home-menu;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
}

.pure-menu-children .pure-menu-item,
.home-menu {
  background: #2d3e50;
}

.home-menu .pure-menu-heading {
  color: white;
  font-weight: 400;
  font-size: 120%;
}

.home-menu .pure-menu-selected a {
  color: white;
}

.home-menu a {
  color: #6FBEF3;
}

.home-menu li a:hover,
.home-menu li a:focus {
  background: none;
  border: none;
  color: #AECFE5;
}

#logout {
  color: beige;
}

.pure-menu-list {
  padding-right: 1em;
}

html, body, #wrapper, #no-providers-div {
  height: 100%;
  padding: 0;
  margin: 0;
}

#wrapper {
  position: relative;
}

#top, #middle {
  position: absolute;
  width: 100%;
}

#top {
  height: @header-height-small;
  z-index: 1;
}

#middle {
  top: 0px;
  padding-top: @header-height-large;
  height: 100%;
}

.toggle-on {
  color: limegreen !important;
}

.toggle-off {
  color: #999 !important;
}

.non-activated {
  color: coral !important;
}

#no-providers-div {
  display: table;
  width: 100%;
  text-align: center;
}

#no-providers {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: darkblue;
  font-size: xx-large;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 830px) {

  #copyDialogFileName {
    width: @dialog-font-size;
  }

  #top {
    height: @header-height-large;
  }

  #middle {
    padding-top: @header-height-large;
  }

  /* We increase the body font size */
  body {
    font-size: 16px;
  }

  /* We want to give the content area some more padding */
  .content {
    padding: 1em;
  }

  /* We can align the menu header to the left, but float the
  menu items to the right. */
  .home-menu {
    text-align: left;
  }

  .home-menu ul {
    float: right;
  }
}

