<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="_csrf" th:attr="content=${_csrf?.token}"/>
    <meta name="_csrf_header" th:attr="content=${_csrf?.headerName}"/>
    <meta name="yandexToken" th:attr="content=${session.yandexAccessToken?.accessToken}"/>
    <meta name="dropboxToken" th:attr="content=${session.dropboxAccessToken?.accessToken}"/>
    <meta name="googleToken" th:attr="content=${session.googleAccessToken?.accessToken}"/>

    <link rel="stylesheet" href="//yui.yahooapis.com/pure/0.6.0/pure-min.css"/>
    <link rel="stylesheet" href="css/lib/split.css"/>
    <link rel="stylesheet" href="css/lib/loader.css"/>
    <link rel="stylesheet" href="css/lib/jquery.contextMenu.css"/>
    <link rel="stylesheet" href="css/lib/font-awesome.css"/>
    <link rel="stylesheet" href="css/lib/bootstrap.css"/>

    <link rel="stylesheet" href="css/home.css"/>
    <link rel="stylesheet" href="css/filesPanel.css"/>

    <script data-main="js/app.js" src="js/lib/require.js"></script>

    <title>CloudAgg home page</title>
</head>
<body>
<div id="wrapper" al-app="providerController">

    <div id="top" class="home-menu pure-menu pure-menu-horizontal">
        <a class="pure-menu-heading" href="">CloudAgg</a>
        <div id="action-btn-bar" al-show="isCopyDialog" al-cloak>
            <div id="copyDialogFileName">{{copyDialogFileName}}</div>
            <button class="btn btn-primary" al-click="copyFileBtnSubmit(true)">Copy</button>
            <button class="btn btn-default" al-click="copyFileBtnSubmit(false)">Close</button>
        </div>
        <ul class="pure-menu-list">
            <li class="pure-menu-item" al-repeat="provider in providers">
                <a href="" class="pure-menu-link" al-click="showView(provider)"
                   al-css='toggle-on:provider.shown, toggle-off:(!provider.shown && provider.activated), non-activated:!provider.activated'
                   al-cloak>
                    {{provider.name | capitalize}}</a>
            </li>

            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                <a href="#" class="pure-menu-link" th:text="${#authentication.name}"></a>
                <ul class="pure-menu-children">
                    <!--<li class="pure-menu-item">
                        <a href="#" class="pure-menu-link">Settings</a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="#" class="pure-menu-link">Accounts</a>
                    </li>-->
                    <li class="pure-menu-item">
                        <a id="logout" href="/logout" class="pure-menu-link">Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div id="middle">
        <div class="file-panel" al-repeat="provider in providers" id="{{provider.name}}" al-show="provider.shown"
             al-cloak>
            <div class="message-container" al-files></div>
        </div>
        <div id="no-providers-div" al-show="noneShown">
            <span id="no-providers">No providers are chosen.</span>
        </div>
    </div>

    <!--Copy dialog-->
    <div class="modal fade" id="copyMoveDialog" tabindex="-1" role="dialog" aria-labelledby="copyMoveLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="copyMoveLabel">Copy / Move file to..</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4 dialog-btn-wrapper" al-repeat="provider in providers" al-cloak>
                            <button class="btn btn-primary btn-dialog" al-click="chooseCopyDir(provider)"
                                    al-enable="provider.activated">{{provider.name | capitalize}}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!--Rename dialog-->
    <div class="modal fade" id="renameDialog" tabindex="-1" role="dialog" aria-labelledby="renameLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="renameLabel">Rename to..</h4>
                </div>
                <div class="modal-body">
                    <div>Enter new name:</div>
                    <input type="text" class="form-control" id="renameNewName"
                           al-keypress="renameFileSubmit($event)"/>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" al-click="renameFileSubmit()">Rename</button>
                    <button class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
